.body{
    background-color: $lightpurple;
}

.wrapper {
    font-family: 'Rubik', sans-serif;
    background-color: $lightpurple;
    height: 100vh;
    @extend .d-flex;
    position: relative;
}

.sidebar {
    @extend .d-flex;
    @extend .flex-column;
    position: fixed;
    height: 100vh;
    background-color: $primary;
    left: 0%;
    right: 95.62%;
    top: 0%;
    bottom: 0%;
    width: 4.38%;
    .signout{
        justify-self: space-between;
        @extend .align-self-center;
        padding-bottom: 2.3rem;
        .signout-link{
            @extend .d-flex;
            @extend .align-items-center;
            padding: 0.5rem;
            border-radius: 0.3125rem;
        }
    }
}

.menu {
    @extend .d-flex;
    @extend .flex-column;
    @extend .align-items-center;
    height: 100vh;
}

.logo-white {
    height: 2.75rem;
    width: 2.75rem;
    background-color: $white;
    margin-top: 0.8125rem;
    margin-bottom: 1.5rem;
    border-radius: 50%;
}

.menu-item {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.3125rem;
    
}
.highlight{
    background-color: $highlight;
}

.main{
    @extend .d-flex;
    @extend .flex-column;
    position: relative;
    width: 95.62%;
    left: 4.38%;
}

.header {
    background-color: $white;
    padding: 0.2rem;
}


.search-width{
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-between;
    @extend .align-items-center;
    background-color: $white;
    width: 100%;
    padding: 0.5rem 1.1rem;
    
}

.search--area {
    background: $white;
    border: 1px solid rgba(76, 141, 235, 0.186481);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0.375rem 1.5rem 0.375rem 2.4rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: Rubik;
    color: $darkgrey;
    width: 20.25rem;
    background: url(../../images/search.svg) no-repeat left;
    background-position-x: 1rem;
    &.home2{
        width: 40rem;
        background-color: $white;
    }
}

input{
    outline: none;

    &::placeholder{
        color: $search-bar;
        font-weight: 400;
        font-size: 0.875rem;
    }
    &:active{
        border: none;
    }
    &:active{
        border: none;
    }
}

.avatar{
    @extend .d-flex;
    @extend .align-content-center;
    @extend .justify-content-center;
    height: 2.5rem;
    width: 2.5rem;
    padding-right: 0.5rem;
    img{
        @extend .align-self-center;
        border-radius: 50%;
        border: 4px solid $border;
    }
    
}

.content{
    padding: 0;
    margin: 0;
}

.content-wrapper{
    padding: 0.5rem 1rem;
}

.title-wrap{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
}

.page-title{
    padding: 0;
    margin: 0;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 2.0625rem;
    color: #405169;
}

.content-area{
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .flex-row;
}

.grid-area{
    @extend .d-flex;
    @extend .flex-wrap;
    flex: 0 0 70%;
    .card{
        min-height: 21rem;
        background-color: $white;
        margin: 0 0.5rem 0 0.5rem;
        box-shadow: 0px 2px 10px rgba(76, 141, 235, 0.10077);
        &:nth-child(1){
            width: 59%;
        }
        &:nth-child(2){
            width: 37%;
            margin-left: auto;
        }
        &:nth-child(3){
            width: 37%;
            margin-top: 1rem;
        }
        &:nth-child(4){
            width: 59%;
            margin-left: auto;
            margin-top: 1rem;

        }
    }
}

.card-heading{
    background-color: $white;
    padding: 1.7rem 0 0 1.5rem;
    margin: 0;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: $black;

}

.card-content{
    padding: 1rem;
    width: 100%;
    
}

.row-container{
    padding-bottom: 0.8rem;
    width: 100%;
    &:last-child() {
        .underline{
            border-bottom: none;
        }
    }
    &:last-child() {
        .card-rows-post{
            border-bottom: none;
        }
    }
}

.card-rows{
    @extend .d-flex;
    @extend .align-content-center;
    width: 100%;
    padding-bottom: 0rem;
    .spread{
        @extend .justify-content-between;
        margin-left: 0.5rem;
    }
    .underline{
        border-bottom: 1px solid $lightblue;
        padding: 0;
        margin: 0;
        
    }
    .digit{
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }
}

.card-rows-post{
    @extend .d-flex;
    @extend .align-content-center;
    width: 100%;
    border-bottom: 1px solid $lightblue;
    padding-bottom: 0rem;
}
.card-rows-author{
    @extend .d-flex;
    @extend .align-content-center;
    width: 100%;
}

.card-rows-author{
    @extend .d-flex;
    @extend .align-content-center;
    width: 100%;
    padding: 0;
}

.link-text{
    width: 52%;
    a{
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 0.875rem;
        color: $link;
    }
}

.link-text-right{
    width: 46%;
}



.span-text{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 0.875rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    &.img{
        width: 1.625rem;
        height: 1.625rem;
        margin-top: 2px;
        border-radius: 50%;
        background-size: cover;
    }
    &.right{
        text-align: right;
    }
}




.right-sidebar{
    flex: 0 0 29%;
    background-color: $white;
    box-shadow: 0px 2px 10px rgba(76, 141, 235, 0.10077);
    padding: 1rem;
    
}

.right-sidebar-title{
    @extend .d-flex;
    @extend .align-content-center;
    @extend .justify-content-between;
    padding: 1rem 0rem 0rem 0rem;
}

.author-title{
    padding: 0;
    margin-bottom: 1.5rem;
}

.right-sidebar-content{
    @extend .d-flex;
    @extend .align-content-center;
}

.author-content-container{
    :last-child() {
        .span-content{
            border-bottom: none;
        }
    }
}

.text{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 0.875rem;

    color: #405169;
}

.number{
    margin-top: 0.5rem;
    margin-right: 0.7rem;
}

.span-content{
    @extend .d-flex;
    @extend .flex-column;
    padding-bottom: 0.3rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $lightblue;
    width: 100%;
    
}

.author-email{
    margin-left: 2.4rem;
    color: rgba(64, 81, 105, 0.6);
}

.author-details{
    @extend .d-flex;
    @extend .flex-row;
    width: 100%;
}

.author-name-row{
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-between;
    margin-top: 0.26rem;
    width: 100%;
    margin-left: 0.7rem;
}

.author-name{
    font-size: 1rem;
    line-height: 1.1875rem;
    
}






