.profile--container{
    @extend .d-flex;
    justify-content: space-between;
}
.setting--menu{margin-bottom: 2.5rem;}
.setting--icon{
    width: 2.12rem; height: 2.12rem;
    background-color:rgba(76, 96, 235, 0.1); display: inline-block;
    text-align: center; padding-top: 0.44rem; font-size: 1.2rem; color: $primary;
    border-radius: 0.31rem;
}
.setting--icon.connector{
    position: relative;
}
.setting--icon.connector .plug{position: absolute; top: 14px; left: 11px;}
.setting--icon.connector .plug1{position: absolute; top: 8px; left: 15px;}
.setting--icon.connector .token{position: absolute; top: 11px; left: 9px;}
.setting--menu{display: flex; align-items: center;}
.setting--menu .current{font-weight: 700;}
.profile--body{
    width: 60rem; border-radius: 0.625rem;
    background-color: $white; margin-bottom: 3.125rem;
}
.profile--body.website{height: 619px;}
.profile--title{
    margin-bottom: 0; font-weight: 700;
    
}
.profile--subtitle{
    margin-top: 0;
    color: $secondary;
    opacity: 0.5;
}
.title--line{
    border-bottom: 1px solid rgba(24, 20, 38, 0.15); width: 100%;
    padding-left: 2.5rem;
}
.profile--form{padding: 2.5rem;}
.pix--group{position: relative;}
.profile--pix{
    width: 6.875rem; height: 6.875rem;
    border-radius: 50%; background: url('/week3/tue/assets/images/Ellipse1.png');
    background-blend-mode: normal;
}
.camera--cover{
    width: 1.375rem; height: 1.375rem; background: $white; border-radius: 50%;
    display: flex; justify-content: center; align-items: center; 
    position: absolute; top: 5.56rem; left: 4.688rem;
}
.camera-bg{
    width: 1rem; height: 1rem; display: flex; justify-content: center; align-items: center;
     border-radius: 50%; background: #274FED;
}
.camera{background: url('/week3/tue/assets/images/Vector.png'); margin: auto; width: 9.33px; height: 7.99px;}
.form--group{display: flex; justify-content: space-between; padding-top: 2.5rem;}
.input--group{display: flex; flex-direction: column;}
.input--group label{
    color: $secondary; font-size: 14px; font-weight: 500; line-height: 16.59px;
    margin-bottom: 0.5rem;
}
.form--input{
    width: 420px; height: 45px; border-radius: 4px; padding-left: 20px; font-weight: 400;
    mix-blend-mode: normal; opacity: 0.5; color: #181426;
    background: rgba(0, 204, 240, 0.02); border: 1px solid rgba(24, 20, 38, 0.0992133);
}
.btn--group{display: flex; justify-content: flex-end; padding-top: 2.5rem;}
.btn--wrapper{width: 70%; display: flex; justify-content: space-between;}
.btn--cancel{
    width: 256px; height: 51px; border: $line thin solid; border-radius: 4px;
    cursor: not-allowed; background-color: $white; color: $black;
}
.btn--save{
    width: 306px; height: 51px; border-radius: 4px;
    opacity: 0.3;
}