body{
    font-family: 'Rubik', sans-serif; background-color: #F9FAFF;
    display: flex; justify-content: center; align-items: center; color: #464545;
}

.signin-logo{
    display: flex; justify-content: center; align-items: center; 
    width: 4.5rem; height: 4.5rem; background-color: #4C60EB;
    border-radius: 50%; margin: auto; overflow: hidden;
}

.signin-logo span{ 
    text-align: center; color: #FFFFFF; 
    font-size: 0.95rem; font-weight: 400;
}

.my-form{
    padding: 3rem; padding-top: 2rem; border-radius: 5px;
    background-color: #FFFFFF;
}

.signin-form-tile{
    margin-bottom: 0; color: #405169;
}
.signin-subtitle{
    color: #405169; opacity: 0.5;
    margin-top: 0;  
}

.form-group{
    display: flex; flex-direction: column; margin-bottom: 0.2rem;
}

.form-group label{
    margin-bottom: 0.5rem;
    letter-spacing: 1.125px;
    text-transform: uppercase;
}

.form-group small{
    text-align: right; color: #405169;
    opacity: 0.5; margin-top: 0.2rem;
}

.form-control{
    width: 100%; border-radius: 0.25rem; padding-left: 10px;
    background-color: rgba(76, 141, 235, 0.3); border: 1px #F9FAFF solid; 
    background-clip: padding-box; padding: 0.375rem 0.75rem;
    font-size: 1rem; line-height: 1.5;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sign-btn{
    width: 100%; border-radius: 0.25rem; margin-top: 1rem;
    color: #FFFFFF; background-color: #4C60EB; border: none;
}

.sign-up-text{
    display: block; font-size: 0.875rem; 
    text-align: center; margin-top: 1rem; margin-bottom: 0;
}
.sign-up-text span{ opacity: 0.5;}